services:
  python-app:
    build: .
    container_name: python-backend
    restart: always
    expose:
      - "8000"
    environment:
      - MAXMIND_LICENSE_KEY=${MAXMIND_LICENSE_KEY}
      - POSTGRES_CONNECTION_STRING=${POSTGRES_CONNECTION_STRING}
      - PASSTHROUGH_MODE=false
      - ENABLE_MLFLOW=true
      - MLFLOW_TRACKING_URI=databricks
      - MLFLOW_REGISTRY_URI=databricks-uc
      - DATABRICKS_HOST=example.cloud.databricks.com
      - DATABRICKS_TOKEN=${DATABRICKS_TOKEN}
      - MLFLOW_EXPERIMENT_PATH='/Shared/Shibboleth RBA/rba_model_training'
      - UC_CATALOG=shibboleth_rba
      - UC_SCHEMA=models
      - UC_MODEL_NAME=Shibboleth_RBA_Model
    volumes:
      - ../nn_data:/nn_data
      - ./seeds:/app/seeds

  citus-master:
    image: citusdata/citus:alpine
    container_name: citus-master
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: shibdb
    ports:
      - "5432:5432"
    networks:
      - shib-net
    volumes:
      - citus-master-data:/var/lib/postgresql/data

  citus-worker:
    image: citusdata/citus:alpine
    container_name: citus-worker
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: shibdb
      CITUS_WORKER_NAME: worker
    networks:
      - shib-net

  caddy:
    image: caddy:latest
    container_name: caddy-proxy
    restart: always
    ports:
      - "443:443"
      - "80:80"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - caddy_data:/data
      - caddy_config:/config
    depends_on:
      - python-app
    networks:
      - shib-net

networks:
  shib-net:

volumes:
  citus-master-data:
  caddy_data:
  caddy_config: