services:
  python-app:
    build: .
    container_name: python-backend
    restart: always
    expose:
      - "8000"
    environment:
      - MAXMIND_LICENSE_KEY=<YOUR_MAXMIND_LICENSE_KEY>
      - POSTGRES_CONNECTION_STRING=postgresql://<USERNAME>:<PASSWORD>@<DB_HOST>:5432/shib-idp-logins
      - PASSTHROUGH_MODE=false
      - ENABLE_MLFLOW=true
      - MLFLOW_TRACKING_URI=databricks
      - MLFLOW_REGISTRY_URI=databricks-uc
      - DATABRICKS_HOST=example.cloud.databricks.com
      - DATABRICKS_TOKEN=<YOUR_DATABRICKS_TOKEN>
      - MLFLOW_EXPERIMENT_PATH='/Shared/Shibboleth RBA/rba_model_training'
      - UC_CATALOG=shibboleth_rba
      - UC_SCHEMA=models
      - UC_MODEL_NAME=Shibboleth_RBA_Model
    volumes:
      - ../nn_data:/nn_data
    networks:
      - shib-net

  caddy:
    image: caddy:latest
    container_name: caddy-proxy
    restart: always
    ports:
      - "443:443"
      - "80:80"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - caddy_data:/data
      - caddy_config:/config
    depends_on:
      - python-app
    networks:
      - shib-net

networks:
  shib-net:

volumes:
  caddy_data:
  caddy_config: